<!DOCTYPE html>
<html>
    <head>
        <title>Michael's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Michael's Blog</a></h1>
        </div>

        <div>
            <p>published: 29.07.2016, 2:55</p>
            <h2><a href="">My first post</a></h2>
            <p>Oh, ya know.. just postin.</p>
        </div>

        <div>
            <p>published: 29.07.2016, 2:57</p>
            <h2><a href="">My second post</a></h2>
            <p>Postin up hard.</p>
        </div>
    </body>
</html>